<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EXPO IT-COMM</title>
    <!-- Favicon -->
    <link rel="icon" href="/images/icon.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/wizard.css">
    <link rel="stylesheet" href="/css/picker.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/particles.min.css">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel='stylesheet' href='/css/rangeslider.min.css'>
</head>

<body>
    <div id="particles-js"></div>

    {{{body}}}

    <script src='/js/jquery.min.js'></script>
    <script src="/js/main.js"></script>
    <script src='/js/particles.min.js'></script>
    <script src="/js/particlesConfig.min.js"></script>
    <script src='/js/picker.min.js'></script>
    <script src='/js/rangeslider.min.js'></script>
    <script src="/js/slider.js"></script>
    <script src="/js/wizard.js"></script>
</body>

</html>